@charset "UTF-8";

.news {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.news_list li {
  margin: 0 auto 10px;
  padding-bottom: 10px;
  width: 55%;
  border-bottom: solid 1px #707070;
  font-size: 20px;
}

.news_list li:last-child {
  margin-bottom: 100px;
  border-bottom: none;
}

.link .inner {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  width: 100%;
  background: #F2EDE1;
}

.link .inner a:hover {
  opacity: 0.7;
}

.link_left {
  margin-right: 100px;
  width: 40%;
  height: 600px;
  background: #fff;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, .1);
}

.link_left_img {
  width: 100%;
  height: 300px;
}

.link_left_img img {
  object-fit: cover;
}

.link_left_txt {
  position: relative;
  padding: 5%;
  height: 250px;
}

.link_left_txt h2 {
  margin-bottom: 10px;
  color: #593a2e;
  font-size: 32px;
}

.link_left_txt span {
  position: absolute;
  right: 15%;
  bottom: 15%;
}

.link_left_txt span::after {
  position: absolute;
  right: -75%;
  bottom: -50%;
  display: block;
  width: 100%;
  height: 50%;
  background: url("/img/arrow.png") no-repeat;
  background-size: contain;
  content: "";
}

.link_item {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, .1);
}

.link_right {
  width: 40%;
}

.link_right_img {
  width: 250px;
  height: 250px;
}

.link_right_img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}


.link_item {
  display: flex;
  height: 250px;
  background-color: #fff;
}

.link_item:last-child {
  margin-top: 100px;
}

.link_right_txt {
  position: relative;
  padding: 5%;
  width: 30%;
  height: 175px;
}

.link_right_txt h2 {
  margin-bottom: 10px;
  color: #593a2e;
  font-size:32px;
}

.link_right_txt span {
  position: absolute;
  right: 0%;
  bottom: 8%;
}

.link_right_txt span::after {
  position: absolute;
  right: -75%;
  bottom: -50%;
  display: block;
  width: 100%;
  height: 50%;
  background: url("/img/arrow.png") no-repeat;
  background-size: contain;
  content: "";
}

.access .inner {
  display: flex;
}

.access_map {
  width: 50%;
  height: 700px;

  -webkit-clip-path: circle(112% at 0 100%);
  clip-path: circle(112% at 0 100%);
}

.access_map iframe {
  width: 100%;
  height: 100%;
}

.access_item {
  margin-top: 5%;
  margin-left: 10%;
  width: 30%;
}

.access_txt {
  margin-left: 40px;
}

.access_txt li {
  margin-bottom: 8px;
}

.access_item .btn {
  margin: 50px auto 0;
  padding: 10px 20px;
  width: 50%;
  border-radius: 10px;
  background: #40322B;
  text-align: center;
}

.access_item .btn a {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width:1024px) {
  .link_left {
    width: 30%;
  }

  .link_right {
    width: 50%;
  }
}

@media screen and (max-width:768px) {
  .link .inner {
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
  }

  .link_item {
    display: flex;
    height: 250px;
    background-color: #fff;
  }
  
  .link_item:last-child {
    margin-top: 100px;
  }
  
  .link_left {
    display: flex;
    margin-right: 0;
    margin-bottom: 100px;
    width: 80%;
    height: 250px;
  }

  .link_left_img {
    width: 250px;
    height: 250px;
  }
  
  .link_left_txt {
    width: 30%;
    height: 175px;
  }
  
  .link_left_txt span {
    right: 0%;
    bottom: 8%;
  }
  
  .link_right {
    width: 80%;
  }
  
  .access_item {
  right: 5%;
  width: 40%;
  }
  
  .access_txt {
    margin-left: 30px;
  }
  
  
}

@media screen and (max-width:480px) {
  .news {
    padding: 0 10px;
  }


  .news_list li {
    width: 100%;
    border-bottom: solid 1px #707070;
    font-size: 18px;
  }

  .news_list li:last-child {
    margin-bottom: 100px;
  }
  
  .link_left {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 50px;
    width: 80%;
    height: 400px;
  }
  
  .link_left_img {
    width: 100%;
    height: 200px;
  }
  
  .link_left_txt {
    padding: 4%;
    width: 100%;
  }
  
  .link_left_txt h2 {
    margin-bottom: 0;
    font-size: 28px;
  }
  
  .link_left_txt span {
    right: 25%;
    bottom: 15%;
  }
  
  .link_right {
    width: 80%;
  }
  
  .link_right_img {
    width: 100%;
    height: 200px;
  }
  
  .link_item {
    flex-direction: column;
    margin-bottom: 50px;
    height: 400px;
  }
  
  .link_item:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .link_right_txt {
    padding: 4%;
    width: 100%;
  }
  
  .link_right_txt h2 {
    margin-bottom: 0;
    font-size:28px;
  }
  
  .link_right_txt span {
    right: 25%;
    bottom: 18%;
  }
  
  .access .inner {
    flex-direction: column;
  }
  
  .access_map {
    width: 100%;
    height: 350px;

    -webkit-clip-path: none;
    clip-path: none;
  }
  
  .access_item {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .access_txt {
    margin-left: 15%;
  }
  
  .access_item .btn {
    margin: 25px auto 50px;
  }


}